@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
*{
    font-family: 'Girassol', cursive;
    margin:0;
    padding: 0;
}

header {
    background-color: #EEEDEB;
}

.box-header {
    text-align: center;
    padding: 32px 0;

    /* Align in the center */
    width: 60%;
    margin: 0 auto;
}

img {
    width: 100%;
    border-radius: 50%;
    border: 3px solid black;
}

.titulo h1{
    font-weight: 400;
    font-size: 36px;
}

/* Menu area */

.menu-content {
    width: 100%;
}
.menu-topic {
    width: 80%;
    margin: 16px auto;
    

    background: #F3F3F3;
    border-radius: 32px;
    border: 5px solid black;    /* width | style | color */

}
.topic-title {
    display: flex;
    justify-content: flex-start;
}
.product-name {
    display: flex;
    justify-content: space-between;
}